<!DOCTYPE html>
<html>
  <p>Welcome to Cold-Brew Coffery! :)</p>
<form method="POST" action="/order">
  <p>Hi! What's your name? <input type="text" name="name"></p>
  <p>Single or Double Shot Espresso? <input type="text" name="espresso"></p>
  <p>What variety of milk would you like? <input type="text" name="milk"></p>
  <p>Would you like your coffee to be deadass caffeine? mediocre beanz? weak af? <input type="text" name="pref"></p>
  <p>How many packets of sugar? <input type="text" name="sugar"></p>
  <input type="submit">
</form>
</html>