<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Srirashmi Gudur</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Srirashmi ($-Money)</h1><b>
      She is 18 years old.<br>
      Her favorite color is navy blue!<br>
    <br>
    <a href="http://tinypic.com?ref=264759g" target="_blank"><img src="http://i41.tinypic.com/264759g.jpg" border="0" alt="Image and video hosting by TinyPic" width="100"></a><br><br>
      She has a black belt in martial arts;<br>
      She is <i>decent</i> at ping pong...<br><br><a href="http://tinypic.com?ref=148dfli" target="_blank"><img src="http://i43.tinypic.com/148dfli.jpg" border="0" alt="Image and video hosting by TinyPic" width="150"></a><br><br>
      She can cook but she never likes what she cooks. Other people do. (or maybe they're too nice to say anything) <br><br><a href="http://tinypic.com?ref=a32ebt" target="_blank"><img src="http://i61.tinypic.com/a32ebt.jpg" border="0" width="250" alt="Image and video hosting by TinyPic"></a><br><br>
      She has never ever had any pets ... but she has one brother <br>
      Her favorite season is winter <br><br><a href="http://tinypic.com?ref=2euq5nt" target="_blank"><img src="http://i49.tinypic.com/2euq5nt.jpg" border="0" alt="Image and video hosting by TinyPic" width="200"></a><br><br>
      She's a fan of crazy socks ... try and guess what animal are on her socks today :) <br><br> <img src="https://media.giphy.com/media/xYO3aGSdc3tgA/giphy.gif" width="200" alt="socks"><br><br>
      She's a leo! <br>
      Her favorite type of music is trashy rap! <br><br>
      <a href="http://tinypic.com?ref=9u540j" target="_blank"><img src="http://i66.tinypic.com/9u540j.jpg" border="0" alt="Image and video hosting by TinyPic" width="200"></a> 
    <a href="http://tinypic.com?ref=1z5jl8l" target="_blank"><img src="http://i63.tinypic.com/1z5jl8l.jpg" border="0" width="380" height="270" alt="Image and video hosting by TinyPic"></a>
    <a href="http://tinypic.com?ref=2ywxopk" target="_blank"><img src="http://i66.tinypic.com/2ywxopk.jpg" border="0" width="265" height="270" alt="Image and video hosting by TinyPic"></b></a>
  </body>
</html>
